body{
    background-color: #000000;
}
.gallery-container {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.gallery{
    // height:calc(100vh - 13.75rem);
    padding-right: 3rem;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

    &__home{
        margin-top: 0;
        padding-right:0;
        overflow-y: hidden;
    }

    &_chr{
        height:70vh;
        margin: 0 auto 2.5rem;
    }
}

li {
    padding: 0.6rem 0;
}
.gallery-detail {
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;

    &_pic{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &_table {
        height: 299px;
        display: flex;
    }
}

.c-houses-gallery{
    &__img{
        object-fit: contain;
    }

    &__figure{
        margin:0;
    }
}


.c-houses-detail{
    &__img{
        max-width: 248px;
        max-height: 320px;
        object-fit: cover;
        object-position: top;
        margin: 2rem 0;
    }

    &__figcaption{
        font-size: 36px;
        margin-bottom: 2rem;
        color: white;
        text-align: center;
    }
    &__col{
        height: 231px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__hs{
        width: 130px;
    }

    &__th{
        font-size: 1.375rem;
        padding: 0.625rem ;
        color: white;
        text-align: center;
    }
    &__td{
        width: 100%;
        color: white;
        font-family: var(--font-family-houses);
        list-style: none;
        font-size: 16px;
        text-align: center;
        overflow-y: auto;
        scroll-behavior: smooth;
    }
  
}

@media (min-width: 300px) {

    .gallery {
        height:calc(100vh - 18rem);
        padding-right: 1.5rem;
        
    }
    .c-houses-detail {
   
        &__figcaption {
            padding-bottom: 1rem;
            border-bottom: solid #6c6c6c 1px;
        }
        &__col {
            margin: 1.5rem auto;
            width: 80vw;
        }
        &__td {
            overflow-y: auto;
        }
    
    }
    .gallery-detail_table{
        flex-direction: column;
       
    }
}

@media (min-width: 576px) {
    .gallery-detail_table{
        width: 100vw;
        height: fit-content;
        flex-direction: unset;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        }
    .c-houses-detail {
        &__img {
            width: 80vw;
            margin-bottom: 3rem;
            }
        &__col {
            width: 50vw;
            padding: 0 1.5rem;
        }

    }
}

@media (min-width: 768px) {
    .c-houses-detail {
        &__col {
            width: 30vw;
            padding: 0 1.5rem;
        }
    }
}

@media (min-width: 1020px) {
    .gallery-detail_table{
        width: 80vw;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        }
    
    .c-houses-detail {
        &__figcaption{
            border-bottom: none;

        }
        &__col {
            width: 13vw;
            padding: 0 1.5rem;
        }
    }
}