.b-icon{

    color:white;

    &--house{
        font-size: 40px;
        margin-right: 1rem;
    }

    &--arrow{
        font-size: 14px;
        margin-top: 1.9rem;
        position: absolute;
        top: 0;
        left: 0;
        
        &--font{
            font-family: var(--font-family-houses);
            font-size: 20px;
            margin-left: 1rem;
            position: absolute;
            top: 0;
            left: 0.8rem;
        }

    }

    &--search1{
        font-size: 18px;
        position: absolute;
        z-index: 2;
        top: 40%;
    }

    &--circle{
        font-size: 50px;
        // position: absolute;
        // top: 250px;
    }

}