.b-icon{

    color:white;

    &--house{
        font-size: 2.5rem;
        margin-right: 1rem;
    }

    &--arrow{
        font-size: 0.875rem;
        
        &--font{
            font-family: var(--font-family-houses);
            font-size: 1rem;
        }

    }

    &--search1{
        font-size: 1.125rem;
        position: absolute;
        z-index: 2;
        top: 40%;
    }

    &--circle{
        font-size: 2.5rem;
        margin: auto 0;

    }

}

@media (min-width: 300px) {
    .b-icon{
   
        &--house{
            font-size: 1.2rem;
        }
    
        &--arrow{
            font-size: 0.875rem;
            padding-bottom: 1rem;
            
            &--font{
                font-family: var(--font-family-houses);
                font-size:  0;
            }
    
        }
    
        &--search1{
            font-size: 1.125rem;
            position: absolute;
            z-index: 2;
            top: 40%;
        }
    
        &--circle{
            font-size: 1.5rem;
        }
    
    }
}

@media (min-width: 576px) {
    .b-icon{
   
        &--house{
            font-size: 1.4rem;
        }
    
        &--arrow{
            font-size: 0.875rem;
            padding-bottom: 1rem;
            
            &--font{
                font-family: var(--font-family-houses);
                font-size:  0;
            }
    
        }
    
        &--search1{
            font-size: 1.125rem;
            position: absolute;
            z-index: 2;
            top: 40%;
        }
    
        &--circle{
            font-size: 2.5rem;
        }
    
    }
}

@media (min-width: 576px) {
    .b-icon{
   
        &--house{
            font-size: 2rem;
        }
    
        &--arrow{
            font-size: 0.875rem;
            padding-bottom: 1rem;
            
            &--font{
                font-family: var(--font-family-houses);
                font-size:  0;
            }
    
        }
    
        &--search1{
            font-size: 1.125rem;
            position: absolute;
            z-index: 2;
            top: 40%;
        }
    
      
    
    }
}