.chronology-container {
  margin: 0 auto;
  position: relative;
}

.timeline {
  content: '';
  height:62vh;
  position: absolute;
  width: 3px;
  background-color: white;
  top: 8rem;
  bottom: 0;
  left: 48.5%;
  z-index: 0;
  // margin-left: -3px;
}

span{
  text-align: center;
  margin-right: 3.45%;
 
}

.chronology {
  text-align: center;
  margin: 0 auto;
  width: 45.75rem;
  z-index: 2;

    &__card {
      width: 50%;
      border-top: 2px solid white;
      float: left;
      
      
      & p {
        // text-align: center;
        padding: 0.25rem;
      } 
     

    }
    &__card__img {
      object-fit: cover;
      object-position: top;
      border-radius: 100%;
      height: 7rem;
      width: 7rem;
    }
    
  
}





