.chronology {

 
    &__card {
      width: 40%;
      border-top: 2px solid whitesmoke;
      text-align: center;
      background-color: salmon;
    }
    &__card__img {
      object-fit: cover;
      object-position: top;
      border-radius: 50%;
      height: 7rem;
      width: 7rem;
    }
  
}





