

.c-houses-detail{
    &__img{
        object-fit: contain;
        width: 200px;
        margin: 66px 150px 30px 151px;
    }

    &__figure{
        margin:0;
        
        

    }

    &__figcaption{
        font-size: 30px;
        margin-bottom: 2rem;
        color: white;
    }

    &__th{
        font-size: 20px;
        color: white;
        text-align: center;
        
        
    }

    &__td{
        list-style: none;
        font-family: var(--font-family-houses);
        font-size: 14px;
        color: white;
        text-align: center;
        
    }

    
}