li {
    padding: 0.6rem 0;
}

// .char-detail{
//     // width: 88%;
//     margin: 0 auto;
//     padding-bottom: 5rem;
// }

.box{
    height: 231px;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.c-houses-detail{
    &__img{
        object-fit: cover;
        object-position: top;
        width: 248px;
        height: 320px;
        margin: 66px 160px 30px;
    }

    &__col{
        width: 12vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__figure{
        margin: 0;

    }

    &__figcaption{
        font-size: 36px;
        margin-bottom: 2rem;
        color: white;
        text-align: center;
    }

    &__hs{
        width: 160px;
        height: 191.6px;
    }

    &__th{
        font-size: 24px;
        color: white;
        text-align: center;
    }
    &__td{
        // padding: 0;
        font-family: var(--font-family-houses);
        font-size: 16px;
        color: white;
        text-align: center;
        list-style: none;
    }
  
}