.footer {
    width: 90%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer__link{
    font-size: 2.25rem;
    color:white;
    text-decoration: none;
}

.footer__link--active{
    color: white;
    text-decoration-line: underline;

}
