.c-header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    // background-color: royalblue;
}

.c-header-icons__home {
    padding: 0.5rem 0;
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.flags{
    width: 64px;
    margin-right: 1rem;

    &__en{
        margin-right: 0;
    }
}