.c-header {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.c-header-icons__home {
    padding: 0.5rem;
}

.c-header-icons__flag {
    padding: 0.5rem;
}

.flags{
    width: 54px;
    margin-top: 21px 8px;
    padding: 5px;
}
