$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-Vector: "\e900";
$icon-home: "\e901";
$icon-search-1: "\e902";
$icon-circle-up: "\ea41";
$icon-circle-down: "\ea43";

