.form{
  //   display: flex;
  //   width:50%;
  //   height: fit-content;
  //   border-bottom: solid white 1px;
  //   margin: 0;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //
  display: flex;
  width: 45%;
  border-bottom: solid white 1px;

}
.search{
  // width: 100%;
  // position: relative;
  
  // font-family: Lato;
  // font-size: 20px;
  // color: #6c6c6c;
  // background-color: black;
  // border: 0;
  margin: 19px 366px 0px 12px;
  font-family: Lato;
  font-size: 20px;
  color: #6c6c6c;
  background-color: black;
  border: 0;

}
