.form{
  display: flex;
  width: 47rem;
  height: fit-content;
  border-bottom: solid white 1px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.search{
  position: relative;
  padding: 1.25rem 22.875rem 0.25rem 1.875rem;
  font-family: Lato;
  font-size: 1.25rem;
  color: #6c6c6c;
  background-color: black;
  border: 0;
  outline: none;
}
