.c-home{
    width: 100%;
    background-image: url('../../assets/img/background.svg');
    background-position: center;
    background-size: cover;

    &__title{
        text-align: center;
        font-size: 140px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--white);
    }
}
