.c-home{
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/img/background.svg');
    background-position: center;
    background-size: cover;

    &__title-container{
        height: 44.375rem;
        // background-color: salmon;
    }
    
    &__title{
        position: relative;
        text-align: center;
        font-size: 8.75rem;
        font-weight: normal;
        color: var(--white);
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);

    }
}
